/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
   
}
/* Nav-style */
.top-title{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}
.nav-info{
    padding: 34px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
}
.nav-info a{
text-decoration: none;
}
.info{
    color: 
    #3A3A3A;
   margin-right: 34px; 
}
/* top section */

.top-secton{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
}
.Influencer-title{
    color:#3A3A3A;
    font-size: 52px;
}
p{
    color:#3A3A3A ;
}
button{
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    
}
.camera{
    width: 440px;
    height: 414px;
   
}