/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
   
}
/* Nav-style */
.top-title{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}
.nav-info{
    padding: 34px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
}
.nav-info a{
text-decoration: none;
}
.info{
    color: 
    #3A3A3A;
   margin-right: 34px; 
}
/* top section */

.top-secton{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
}
.Influencer-title{
    color:#3A3A3A;
    font-size: 52px;
}
p{
    color:#3A3A3A ;
}
button{
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    
}
.camera{
    width: 440px;
    height: 414px;
    
}
.camera img:hover{
    transform: scale(1.1);
    transition:  1s linear;
}
/* populer collection style */
.populer-taitle{
    color:3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
/* collection style */
.Popular-Collection{
    margin-left: 150px;
    margin-right: 120px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.collection{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 30px;
    
    
}
.collection-thamnial{
    margin-left: 14px;
    padding-top: 17px;
}
.collection-thamnial img{
    width: 300px;
    Height 256px;
    border-radius: 5px;
    
   
}
.collection-title{
    font-size: 28px;
    color: #18191F;
    font-weight: 500;
    margin-left: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.dolar{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: normal;
    margin-left: 14px;
    margin-top: 6px;
    margin-bottom: 0;
    
    
}
.star{
    color: #FB8200;
    margin-left: 14px;
}
.star-container{
    display: flex;
    align-items: center;
}
.star-valu{
    font-size: 14px;
    font-weight: bold;
    color: #5E6366;
    Width 29px;
    Height 22px;
    margin-left: 80px;

   
}
.peragraph{
    font-size: 14px;
    color: #787885;
    font-weight: bold;
    line-height: 143%;
    margin-left: 14px;
    margin-top: 0;
}

.see-more{
    position: absolute;
    width: 99px;
    height: 24px;
    left: 1100px;
    text-decoration:none;
    color: #E02C6D;
    font-weight: 700;
}

/* extra sextion */
.blogers{
    display: flex;
    margin-left: 120px;
    margin-top: 54px;
}
.live img{
    width: 404px;
    border-radius: 5px;
}
.live-info{
    position: absolute;
width: 610px;
height: 224px;
left: 665px;

}
.join-now{
    text-decoration: none;
    color: white ;
    background-color: #E02C6D;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 155px;
    
}
/* footer */
footer{
    text-align: center;
    margin-top: 150px;
    background: #040a2e;
    color: white;

}

